@(message: String,message1: String,message2: String, messages: List[String])

@main("Welcome to Play Framework") {
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://getbootstrap.com/docs-assets/ico/favicon.png">

    <title>Classifier Beta</title>


    <!--<link href="http://bootswatch.com/cosmo/bootstrap.min.css" rel="stylesheet">-->


    <!--Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['Category', 'Count'],
        ['All',  @message],
        ['Spam',  @message1],
        ['Male originated',  @message2]
        ]);

        var options = {
        title: 'Classification Statistics',
        vAxis: {title: 'Category',  titleTextStyle: {color: 'gray'}}
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        }

        var isInitialized=false;

        $( document ).ajaxStart(function() {
        $( "#loading" ).show();
        $('#initButton').prop('disabled', true);
        });

        $( document ).ajaxStop(function() {
        $( "#loading" ).hide();
        $('#initButton').prop('disabled', false);
        });

        function initpressed(){
        if(isInitialized){
            isInitialized=false;
        $.ajax({
        type: "GET",
        url: "http://localhost:9000/shutdown/hi",
        success: function(data){
        $("#initButton").text("Start");
        $("#mainText").html("<p>Click the below button to initialize the platform.</p>");
        }
        });
        }else{
        isInitialized=true;
        $.ajax({
        type: "GET",
        url: "http://localhost:9000/init/hi",
        success: function(data){
        $("#initButton").text("Stop");
        $("#mainText").html("<p>Platform is running. Click below button to stop</p>");
        }
        });
        }
        }
    </script>
</head>

<body style="">

<!-- Wrap all page content here -->
<div id="wrap">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand active" href="http://getbootstrap.com/examples/navbar-fixed-top/#">Classifier</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Contributors</a></li>
                    <li><a href="#">Help</a></li>

                </ul>

            </div><!--/.nav-collapse -->
        </div>
    </div>

    <!-- Begin page content -->
    <div class="container">

        <br/>
        <br/>
        <br/>
        <br/>
        <div class="jumbotron">
            <div class="row">

                <h2>Welcome</h2>
                <div id="mainText">
                    <p>Click the below button to initilize the platform.</p>
                </div>
                <div id="loading" style="display: none">
                    <p><img src="http://www.optimalsolutionslebanon.com/newsletter/ajax-loader.gif" /> Please Wait</p>
                </div>
                <p>
                    <a id="initButton" class="btn btn-lg btn-primary" href="#" role="button" onclick="initpressed()">Initialize</a>
                    <a id="configButton" class="btn btn-lg btn-primary" href="configure.html" role="button">Configure</a>
                </p>

            </div>

        </div> <!-- jumbotron-->

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Recently Processed messages</h3>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            @for(m<-messages) {
                            <a href="#" class="list-group-item">@m</a>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div id="chart_div" style="width: 450px; height: 400px;"></div>


                </div>
            </div>

        </div>
    </div>

</div>


</div>
</div>
<div id="footer">
    <div class="container">
        <iframe src="http://ghbtns.com/github-btn.html?user=mdo&repo=github-buttons&type=watch&count=true&size=large"
                allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->

<!-- Latest compiled and minified JavaScript -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>









</body>

}
